*{
	padding: 0;
	margin: 0;
}
img {
    max-width: 100%;
    height: auto;
    }

body {
	background-color: #cbc5ad;
	color:#4C4942;
	font-family:monospace;
	font-size:14px;
}

#main-post {
	margin-top:1%;
	background-color: #D5CFB7;
}

#blog-post-page {
	margin-top:5%;
}

#left-window{
	width:100%;
	display: block;
	margin-top: 10%;
	background-color:#C2BDA6;
	float:left;
	margin-right:2%;

}

.leftLinks{
	font-size:130%;
	color:#4C4942;
	padding-left:5%;	
}

.leftLinks:hover{
	text-decoration: none;
	transition:0.3s;
	color:white;
}

#links-left{
	margin-top:10%;
}

#left-window-header{
	border-bottom: 5px solid #3A3730;
}

#right-window{
	width:100%;
	min-height: 1px;
	display:block;
	margin-right:2%;
	margin-top:10%;
	margin-bottom:10%;
	background-color:#C2BDA6;
	float:left;
	border-top: 5px solid #3A3730;
	border-bottom: 5px solid #3A3730;
	border-left:1px solid #3A3730;
	border-right:1px solid #3A3730;
	border-radius: 5px;

}
#right-contents{
	padding-bottom:2%;
	min-height: 1px;
}

.blog-titles{
	color:#C2BDA6;
	
}
.blog-title-area {
	background-color:#4C4942;
	padding:2px;

}

.blog-titles:hover{
	text-decoration:none;
	transition: 0.3s;
	color:white;
}

.btn {
	margin-bottom:5%;
}
.blog-post{
	margin-top:2%;
	margin-bottom:2%;
}

.read-more {
	color:black;
}

.read-more:hover {
	color:white;	
}

.row {
	float:left;
}

#top-bar{
	background-color:#C2BDA6;
	color:#3A3730;
	border-bottom: 6px solid #3A3730;
	
}
.navbar-brand{
	color:white;
}

.hiddenButton {
	display:none;
}

.navigation-button:hover {
	color:red;
}

.post-tag{
	color:white;
	border-top:2px solid #3A3730;
}
.post-date{
	margin-bottom:2%;
	color:white;
	
}

.modal-header {
	color:#7D83B0;
}

.modal-body {
	color:black;
	
}

#logout {
	float:right;
	color:red;
}

#login-button{
	background-color:#3A3730;
}

#login-button:hover {
	color:#3A3730;
	background-color:white;
	transition:1s;
}

#post-date{
	color:white;
}

#content-title{
	background-color:#3A3730;
	padding:2px;
}

#content-title h1{	
	color:#C2BDA6;
}

#create-post{
	margin-left:5%;
}

.navbar-brand{
	color:#4C4942;
}
.navbar-brand:hover{
	color:white;
	transition:0.5s;
}
#new-post-editor{
	margin-top:1%;
	background-color:#C2BDA6;
	height: 40vh;
	border:1px solid #3A3730;	
	overflow: scroll;
}

#editor-box {
	margin-top:10%;
	padding-left:0;
	padding-right:0;
}

#create-post-title{
	background-color:#C2BDA6;
	color:white;
	font-weight:bold;
	font-size:120%;
	border:1px solid #3A3730;
	
}

#create-post-tags{
	background-color:#C2BDA6;
	color:white;
	font-size:120%;
	border:1px solid #3A3730;
}

#buttons-group{
	margin-top:1%;
}

#label-text{
	margin-top:2%;
	color:white;	
}

.hiddenElement{
	display:none;
}